.error {
    color: red;
    font-size: 12px;
}

.iti {
    width: 100%;
}

.spinner {
    color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    .modal-content {
        background-color: #fff;
        margin: 20% auto;
        padding: 2rem;
        border-radius: 8px;
        width: 100%;
        max-width: 400px;
        text-align: center;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        position: relative;

        h2 {
            color: #28a745;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            color: #333;
        }

        .close-btn {
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-size: 1.5rem;
            cursor: pointer;
            color: #aaa;
        }

        .close-btn:hover {
            color: #333;
        }


    }

}
